/* Add CSS Styling */

button{
    font-size: 28px;
    font-family: Helvetica, 'Times News Roman', 'sans-serif';
}

.first{
    background-color: black;
    color: white;
}

.second{
    background-color: yellow;
}